{% extends 'main.html' %}
{% include 'navbar.html' %}

{% block content %}

<hr>
<p>Hello you are on the <b>{{ page }}</b></p>

<h1>Projects</h1>

<table>
    <tr>
        <th>Project</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'project' project.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}